<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="./style.css"/>
    <script type="text/javascript" src="./jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="./angular.js"></script>
    <script type="text/javascript" src="./ng-infinite-scroll.js"></script>
    <script type="text/javascript" src="./script.js"></script>
  </head>
  <body>
    <div class="middle-container">
      <div class="container">
        <div ng-app='myApp' ng-controller='DemoController'>
          <div infinite-scroll='loadMore()' infinite-scroll-distance='1'>
            <img ng-repeat='image in images' ng-src='http://dummyimage.com/250/{{image}}/'>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>